In [3]:
import pandas as pd
data = pd.read_excel('data.xlsx') # For reading Excel file importing package 
                                  # xlrd or openpyxl

In [4]:
data   # for reading tow or more execl file 
       # data = pd.read_excel('data.xlsx',sheet_name = "Second excel filename")

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7

In [5]:
data.iloc[0,0] = 99

In [6]:
data

    Duration  Pulse  Maxpulse  Calories
0         99    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7

In [7]:
data.to_excel('data.xlsx')